.Austria {
  fill: #ff0000;
  stroke: black;
}
.England {
  fill: #0000ff;
  stroke: black;
}
.France {
  fill: #00ffff;
  stroke: black;
}
.Germany {
  fill: #808080;
  stroke: black;
}
.Italy {
  fill: #00ff00;
  stroke: black;
}
.Russia {
  fill: #008000;
  stroke: black;
}
.Turkey {
  fill: #ffff00;
  stroke: black;
}
